@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

a.active {
  @apply bg-amber-500 text-white;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

.carousel .control-next.control-arrow::before {
  @apply border-l-black !important;
}

.carousel .control-prev.control-arrow::before {
  @apply border-r-black !important;
}

.splash-screen {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('./images/car-big.png'),
    linear-gradient(0deg, rgba(253, 172, 1, 1), rgba(253, 172, 1, 1));
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
}
